.ToDoItem {
  transition: all 0.3s;
  padding: {
    left: 15px;
    right: 15px;
  }
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 21px;
  box-shadow: 1px 2px 6px 0px rgba(133, 130, 130, 0.75);
  -webkit-box-shadow: 1px 2px 6px 0px rgba(133, 130, 130, 0.75);
  -moz-box-shadow: 1px 2px 6px 0px rgba(133, 130, 130, 0.75);

  &__h3 {
    max-width: 200px;
    word-wrap: break-word;
  }
  &__checkbox {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  &__ActionsBox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__Delete {
    cursor: pointer;
  }
  &__Input {
    margin: {
      top: 12px;
      bottom: 12px;
    }
    padding: {
      left: 10px;
      right: 10px;
    }
    height: 30px;
    border-radius: 30px;
    border: none;
    &:focus {
      outline: none;
    }
    box-shadow: 1px 2px 6px 0px rgba(133, 130, 130, 0.75);
    -webkit-box-shadow: 1px 2px 6px 0px rgba(133, 130, 130, 0.75);
    -moz-box-shadow: 1px 2px 6px 0px rgba(133, 130, 130, 0.75);
  }
}

@media (hover: hover) {
  .ToDoItem:hover {
    transform: translatey(-10px);
  }
}
